@font-face {
    font-family: 'Inter';
    src: url(../assets/font/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Semi';
    src: url(../assets/font/Inter-SemiBold.ttf);
}

:root {
    --green-p: #c6d109;
    --green-s: #22a331;
    --yellow-p: #FFD365;
    --yellow-s: #FDFFA9;
    --gray: #536162;
    --blue-p: #0A1931;
    --blue-s: #185ADB;
    --yellow: #FFC947;
    --white-gray: #EFEFEF;
    --red: #EB4747;

    --header-height: 3rem;
    --side-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: .5s
}

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.2rem;
    background-color: var(--green-p);
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: #FFF;
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover {
    color: var(--yellow-p);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    color: #FFF;
}

.icon-sidebar {
    color: #FFF;
    padding: 0 0.5rem;
}

.icon-sidebar:hover {
    color: var(--yellow-p);
}

.link-dark {
    color: #212529;
}

.rounded {
    border-radius: 0.25rem!important;
}

.profile {
    position: absolute;
    bottom: 0;
    padding: 2rem 2rem;
}

.user-profile{
    font-family: 'Inter Semi', sans-serif;
}

.simple-text,
td,
th,
.form-label,
.form-check-label {
    font-size: 0.9rem;
    color: var(--gray);
}

.form-control {
    font-size: 1rem;
    color: #000;
}

.subtitle-window{
    color: var(--gray);
    font-family: 'Inter Semi', sans-serif;
}

.btn-action {
    background-color: var(--yellow);
    font-family: 'Inter Semi', sans-serif;
    font-size: 0.9rem;
}

.btn-back {
    background-color: #082567;
    font-family: 'Inter Semi', sans-serif;
    font-size: 0.9rem;
}

.page-link {
    color: #000;
    font-size: 0.9rem;
}

.card-section{
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card-section-alt{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.form-check-input:checked {
    background-color: #7ab317;
    border-color: #7ab317;
}

/* 21/08/22 */
a{
    text-decoration: none
}
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: 	#082567;
    z-index: var(--z-fixed);
    transition: .5s
}
.header_toggle{
    color: var(--white-gray);
    font-size: 1.5rem;
    cursor: pointer
}
.header_img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img{
    width: 40px
}

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--side-width);
    height: 100vh;
    background-color: #7ab317;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_logo{
    margin-bottom: 2rem
}
.nav_logo-icon{
    font-size: 1.25rem;
    color: #EFEFEF;
}
.nav_logo-name{
    color: var(--white-gray);
    font-weight: 700
}
.nav_link{
    position: relative;
    color: #EFEFEF;
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover{
    color: #EFEFEF;
}
.nav_icon{
    font-size: 1.25rem
}
.show-sb{
    left: 0
}
.body-pd{
    padding-left: calc(var(--side-width) + 1rem)
}
.active{
    color: #0a6789;
}
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #EFEFEF;
}
.height-100{
    height:100vh
}

.sidebar li .submenu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.alert-success{
    background-color: var(--yellow);
    color: #000;
    border: 1px var(--yellow) solid;
}

.alert-danger{
    background-color: var(--red);
    color: #FFF;
    border: 1px var(--red) solid;
}
.alert-danger,
.alert-success > p{
    font-size: 0.9rem;
}

@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--side-width) + 2rem)
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--side-width) + 2rem)
    }
    .header_img{
        width: 40px;
        height: 40px
    }
    .header_img img{
        width: 45px
    }
    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show-sb{
        width: calc(var(--side-width) + 156px)
    }
    .body-pd{
        padding-left: calc(var(--side-width) + 188px)
    }
}

.table-hover
{
    text-align: center;
}

.tabla-centrada
{
    text-align: center;
}

.btn-estandar
{
    width:150px;
    height:40px;
}

.btn-azul2
{
    background-color: #4474C2;
    color: #EFEFEF;
}

.btn-verde
{
    background-color: #2F7F28;
    color: #EFEFEF;
}

.btn-rojo
{
    background-color: #BF2D0F;
    color: #EFEFEF;
}

.btn-gris
{
    background-color: #343E36;
    color: #EFEFEF;
}

.btn-nav-user
{
    color: #EFEFEF;
    border-radius: 8px;
    background-color: #7ab317;
    justify-content: center;
}

.btn-generar
{
    margin-top: 12.7%;
}

.bxs-user
{
    font-size: 24px;
}

.bx-dollar
{
    font-size: 23px;
}

.uil-user-plus
{
    font-size: 19px;
}

.uil-pen
{
    font-size: 17px;
}

.uil-trash-alt
{
    font-size: 17px;
}

.uil-cog
{
    font-size: 23px;
}

.uil-invoice
{
    font-size: 20px;
}

.pequeña{
    width: 120px;
    height: 42px;
}

.mediana
{
    width: 300px;
    height: 200px;
}

.qr1
{
    width: 200px;
    height: 200px;
    margin-left: 30%;
}

.qr2
{
    width: 200px;
    height: 200px;
    margin-left: 12%;
    margin-top: 35%;
}

.celda-azul
{
    background-color:  #4474C2 !important;
}

.font-white
{
    color: #EFEFEF;
}

.carousel-caption
{
    width: 70%;
    height: 25%;
    padding-y: 1.25rem;
    spacer: 1rem;
}

.card-estandar1
{
    height: 550px;
    width: 350px;
    justify-content: center;
    border-radius: 15px;
}

.card-estandar
{
    height: 550px;
    width: 350px;
    border-radius: 15px;

}

.inp
{
    height: 42px;
}

.move
{
    margin-left: 50%;
}

.close
{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 10px;
}

/* LodingSpinner */
.loading-spinner{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("../img/loader.svg") center no-repeat;
}

body.loading{
    overflow: hidden;
}

body.loading .loading-spinner{
    display: block;
}
/* Fin LodingSpinner */


.inpAnsw{
    border:0;
    background: transparent !important;
    border-bottom: 1px solid #888 !important;
}

.graficosCenter
{
    text-align: center;
    justify-content: center;
}


/* Color de celdas */
.celVerde
{
    background-color: #7ab317 !important;
    border-right-width: 7px;

}

.celVerde:hover
{
    background-color: darkseagreen !important;
}

.celRojo
{
    background-color: #CC0F03 !important;
    border-right-width: 7px;
}

.celRojo:hover
{
    background-color: indianred !important;
}

.celAzul
{
    background-color: #082567 !important;
    border-right-width: 7px;
}

.celAzul:hover
{
    background-color: steelblue !important;
}

.celGris
{
    background-color: #343E36 !important;
}

.celGris_2
{
    background-color: #90AAAD !important;
}

.tablaEnergia
{
    border-color: white;
}

.celdaPer
{
    width: 150px;
    height: 50px;
}


.ambosBordes
{
    border-radius: 10px;
}

.bordeBut
{
    border-bottom: 7px solid white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.tabla-container {
    display: grid;
    place-items: center;
}

.alineaDerecha
{
    text-align: right;
}
/* Fin color de celdas */


